app = 'teburn-web'
primary_region = 'nrt'  # 도쿄

[build]
  [build.args]
    NEXT_PUBLIC_API_URL = "https://teburn-api.fly.dev/api"
    NEXT_PUBLIC_SOCKET_URL = "https://teburn-api.fly.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
